.parent-container {
	height: 800px;
	width:	800px;
	background-color: pink;
}

.grid {
	/*display: flex;*/
	/*flex-wrap: wrap;*/
}

.grid-item {
  float: left;
  width: 80px;
  height: 60px;
  border: 2px solid hsla(0, 0%, 0%, 0.5);
}